<% @contact.each do |contact| %>
	<div class="donnees">Nom : <%= contact.nom %></div>
	<div class="donnees">Prénom : <%= contact.prenom %></div>
	<div class="donnees">Mail : <%= contact.mail %></div>
	<div class="donnees">Avis : <%= contact.avis %></div>
<% end %>