<div class="container1">

    <h3 class="action">Apiculteurs et propriétaires de terrain, nous avons besoin de vos propositions pour developper cette action écologique, durable et citoyenne.</h3>
    <div class="contact"> 
      <p>contactez-nous</p>
      <%= link_to (image_tag('enveloppe1.svg', width: 150, title:"contactez-nous")), form_path, { :class=>"contactez_nous" } %> 
    </div> 

    <h2 class="text-center">L' abeille </h2> 

    <div class="texte1">
    
    	 <p class="colonne1">Les abeilles sont indispensables  à la pollinisation de plus de 70% des plantes et au maintien de la biodiversité.
       </p>

    	 <p class="colonne1">Les abeilles disparaissent en masse ces dernières années. Les facteurs se combinent d’après les scientifiques.
    
        <%= link_to (image_tag('plus1.svg', width: 70, title:"plus d'infos")), info_path, { :class=>"croix" } %>
      </p>

    </div>
  </div>

<div class="container2">
    
      <h2 class="text-center">Le projet</h2>

      <div class="texte2">
        <p>Les apiculteurs recherchent des terrains pour accueillir leurs ruches et améliorer la diversité et la qualité du miel produit.</p>

        <p id="bloc_couleur2">Vous êtes, un particulier, une entreprise, une collectivité, vous êtes propriètaires de terrains inexploités, vous êtes un ardent défenseur de la qualité de vie, soutenez les apiculteurs et leurs abeilles, proposez un terrain pour accueillir des ruches.

        <p>Ce projet a pour but de mettre en relation les apiculteurs avec les propriétaires de terrain.</p>

        <p></p>
    </div> 
    
</div>








