<div class="footer">
	<div class="adresse">
	 
	 <p>Simplon.ve</br>
	  	Pôleyrieux</br>
	  	Aric industries</br>
	  	07 160 Le Cheylard
	 </p>
	</div>
	<div class="createurs">
	site réalisé par la promotion Simplon ve - 2015
	</div>
</div>

